# daff
*.csv diff=daff-csv
*.csv merge=daff-csv
# to ignore the generated artifacts
viz/* linguist-generated
*.html linguist-generated -linguist-detectable
*.js linguist-vendored -linguist-detectable
*.css linguist-vendored -linguist-detectable
*.scss linguist-vendored -linguist-detectable
# some patterns from https://github.com/alexkaratarakis/gitattributes/
*.Rdata binary
*.RData binary
*.rda   binary
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	  text linguist-detectable
*.R  	  text linguist-detectable
*.Rproj text
